.page-node-8 {
  .node--type-page {
    .main-wrapper {
      background-color: rgba($color-green, .9);
      margin-bottom: 3em;
      padding: 1.5em;
      position: relative;
      z-index: 2;
      .main-content {
        @include maxWidth;
        .field--name-body {
          padding: 1em;
          p {
            color: $color-white;
            font-size: $font-medium;
            font-weight: 700;
            line-height: 1.4em;
            text-align: center;
          }
        }
      }
    }
  }
}