.page-node-1 {
  .node--type-page {
    .main-wrapper {
      background-color: rgba($color-green, .9);
      padding: 1.5em;
      position: relative;
      z-index: 2;
      .main-content {
        @include maxWidth;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        @include breakpoint($medium) {
          align-items: flex-start;
          flex-direction: row;
        }
        .field--name-body {
          letter-spacing: .015em;
          max-width: 50em;
          padding: 1em 2em;
          p {
            color: $color-white;
            font-size: $font-medium;
            line-height: 1.5em;
            text-align: justify;
          }
        }
      }
    }
  }
}