.page-node-8 {
  .node--type-page {
    .main-wrapper {
      background-color: rgba($color-green, .9);
      margin-bottom: 3em;
      padding: .75em;
      position: relative;
      z-index: 2;
      @include breakpoint($medium) {
        padding: 1.5em;
      }
      .main-content {
        @include maxWidth;
        .field--name-body {
          padding: 1em;
          p {
            color: $color-white;
            font-size: $font-medium;
            line-height: 1.4em;
          }
        }
      }
    }
  }
}