.path-roadmap {
  .scroll-down-wrapper {
    cursor: pointer;
    margin: 2em auto .5em;
    height: 45px;
    width: 45px;
    @include breakpoint($medium) {
      margin: 3em auto 1.5em;
    }
  }
}

