.idea

.env
docker-compose.yml
html/build/build.local.default.yml

html/build/backups/*.sql
html/vendor
html/web/core
html/web/libraries
html/web/modules/contrib
html/web/themes/contrib
html/web/sites/default/files
