.idea
._.DS_Store
.DS_Store

.env
docker-compose.yml
html/build/build.local.default.yml

html/build/backups/*.sql
html/web/sites/default/files
html/web/sites/default/settings.php

certs/*
._.DS_Store
.DS_Store
