version: "2"

services:
  apache:
    image: wodby/php-apache:$APACHE_TAG
    container_name: "${PROJECT_NAME}_apache"
    depends_on:
      - php
    environment:
      APACHE_LOG_LEVEL: debug
      APACHE_BACKEND_HOST: php
      APACHE_SERVER_ROOT: "${CONTAINER_DIR}/web"
    volumes:
      - "${SOURCE_DIR}:${CONTAINER_DIR}"
#      - "data:${CONTAINER_DIR}" # MacOs nfs version
    labels:
      - 'traefik.enable=true'
      - 'traefik.backend=apache'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:web.${PROJECT_BASE_URL}'
#    networks:
#      - web

  db:
    image: wodby/mariadb:$MARIADB_TAG
    container_name: "${PROJECT_NAME}_mariadb"
    stop_grace_period: 30s
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: $DB_ROOT_PASSWORD
      MYSQL_DATABASE: $DB_NAME
      MYSQL_USER: $DB_USER
      MYSQL_PASSWORD: $DB_PASSWORD
#   networks:
#      - web

  mailhog:
    image: mailhog/mailhog
    container_name: "${PROJECT_NAME}_mailhog"
    labels:
      - 'traefik.enable=true'
      - 'traefik.backend=mailhog'
      - 'traefik.port=8025'
      - 'traefik.frontend.rule=Host:mailhog.${PROJECT_BASE_URL}'
#   networks:
#      - web

  php:
    image: wodby/drupal-php:$PHP_TAG
    container_name: "${PROJECT_NAME}_php"
    environment:
      PHP_SENDMAIL_PATH: /usr/sbin/sendmail -t -i -S mailhog:1025
      PHP_FPM_CLEAR_ENV: "no"
#      PHP_XDEBUG: 1
#      PHP_BLACKFIRE: 1
#   networks:
#      - web
    volumes:
      - "${SOURCE_DIR}:${CONTAINER_DIR}"
#      - "data:${CONTAINER_DIR}" # MacOs nfs version

  redis:
    container_name: "${PROJECT_NAME}_redis"
    image: wodby/redis:$REDIS_TAG
# networks:
#   - web


#  traefik:
#    image: traefik:1.6.3-alpine
#    restart: unless-stopped
#    command: '-c /dev/null --web --docker --docker.exposedByDefault=false --logLevel=DEBUG --defaultEntryPoints=''http'',''https'' --entryPoints="Name:https Address::443 TLS:/certs/traefik.cert,/certs/traefik.key" --entryPoints="Name:http Address::80"'
#    ports:
#      - '80:80'
#      - '443:443'
#      - '8000:8080'
#    networks:
#      - web
#    volumes:
#      - '/var/run/docker.sock:/var/run/docker.sock'
#      - './certs:/certs'

# Enable this on MacOs after executing file-setup_native_nfs_docker_osx.sh
#volumes:
#  data:
#    driver: local
#    driver_opts:
#      type: nfs
#      o: addr=host.docker.internal,rw,nolock,hard,nointr,nfsvers=3
#      device: ":${SOURCE_DIR}"

#networks:
#  web:
#    external:
#      name: traefik_webgateway

