.footer {
  background-color: $color-blue-darkest;
  padding: 2em 3em 3em;
  position: relative;
  z-index: 2;
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .agid-logo {
      margin-top: 1em;
      @include breakpoint($medium) {
        display: flex;
        width: 100%;
      }
      .col {
        display: inline-block;
        width: 100%;
        margin: .5em 0;
        text-align: center;

        img {
          max-width: 230px;
        }
      }
    }
  }
  .footer-bottom {
    border-top: 1px solid $color-blue-dark;
    margin-top: 5em;
    padding-top: 1.5em;
    position: relative;
    .footer-list {
      display: flex;
      flex-direction: column;
      list-style: none;
      @include breakpoint($xsmall) {
        flex-direction: row;
      }
      .footer-elem {
        margin-right: 1.5em;
        .footer-link {
          color: $color-cyan-darkest;
          font-weight: 700;
          text-decoration: none;
          transition: color 220ms ease-out;
          &:hover {
            color: $color-cyan-dark;
          }
        }
      }
    }
    .scroll-top-wrapper {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: .75em;
      img {
        transform: rotate(180deg);
        width: 45px;
      }
    }
  }
}

#social-footer {
  .social-label {
    color: $color-white;
    font-weight: 400;
    font-size: 1.2rem;

    float: right;
    text-align: right;
    letter-spacing: .01em;
    line-height: 1.55;
    margin-right: 1em;
    display: none;
    @include breakpoint($medium) {
      display: inline;
    }
  }
  .social-list {
    justify-content: flex-end;
    .social-elem:last-child {
      margin-right: 0;
    }
  }
}