.footer {
  background-color: $color-blue-darkest;
  padding: 2em 3em 3em;
  position: relative;
  z-index: 2;
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .agid-logo {
      margin-top: 1em;
      max-width: 22em;
      width: 22em;
    }
    #social-footer {
      .social-label {
        color: $color-white;
        font-weight: 700;
        margin-bottom: 1em;
        text-align: right;
      }
      .social-list {
        justify-content: flex-end;
        .social-elem:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .footer-bottom {
    border-top: 1px solid $color-blue-dark;
    margin-top: 2.75em;
    padding-top: 1.5em;
    position: relative;
    .footer-list {
      display: flex;
      flex-direction: column;
      list-style: none;
      @include breakpoint($xsmall) {
        flex-direction: row;
      }
      .footer-elem {
        margin-right: 1.5em;
        .footer-link {
          color: $color-cyan-darkest;
          font-weight: 700;
          text-decoration: none;
          transition: color 220ms ease-out;
          &:hover {
            color: $color-cyan-dark;
          }
        }
      }
    }
    .scroll-top-wrapper {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: .75em;
      img {
        transform: rotate(180deg);
        width: 45px;
      }
    }
  }
}