.region-header {
  padding: 2em 2em .5em;
  @include breakpoint($medium) {
    padding: 2em;
  }
  .header-top {
    display: flex;
    justify-content: space-between;
  }
  #social-header {
    display: none;
    @include breakpoint($medium) {
      display: block;
    }
  }
  .icon-menu-main {
    margin-top: 1em;
    width: 2.25em;
    @include breakpoint($medium) {
      display: none;
    }
  }
  .text-wrapper {
    margin-top: 1em;
    @include breakpoint($medium) {
      text-align: center;
    }
    .title {
      color: $color-green;
      font-size: $font-xxlarge;
      font-weight: 700;
      line-height: 1;
      margin: .35em 0 .2em;
      @include breakpoint($small) {
        line-height: 1.25;
        margin-bottom: .35em;
      }
    }
    .subtitle {
      color: $color-blue-dark;
      font-size: $font-large;
    }
  }
}