.region-navigation {
  height: $menu-height-small;
  position: relative;
  z-index: 5a;
  @include breakpoint($medium) {
    height: $menu-height;
    z-index: 3;
  }
  .block-id-six8theme_main_menu {
    @include breakpoint($medium) {
      bottom: auto;
      left: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) translateX(0%);
    }
    &.open {
      transform: translateX(0%);
    }
    .close-menu-main {
      @include breakpoint($medium) {
        display: none;
      }
    }
    ul {
      @include breakpoint($medium) {
        align-items: center;
        display: flex;
        list-style: none;
        justify-content: center;
      }
      li {
        @include breakpoint($medium) {
          align-items: center;
          display: flex;
          margin: 0 1em;
        }
        a {
          @include breakpoint($medium) {
            color: $color-white;
            font-size: $font-medium;
            font-weight: 700;
            transition: color 220ms ease-out;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
              color: $color-blue-light;
            }
          }
          &.is-active {
            color: $color-green;
          }
        }
      }
    }
  }
}

body > .block-id-six8theme_main_menu {
  background-color: $color-white;
  bottom: 0;
  left: 15%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 220ms ease-out;
  z-index: 100;
  &.open {
    transform: translateX(0%);
  }
  .close-menu-main {
    background-color: $color-blue;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    padding: 1em;
    img {
      cursor: pointer;
      height: 25px;
      width: 25px;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    li {
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, .15);
      display: flex;
      height: 3.5em;
      margin: 0 1em;
      a {
        color: $color-blue;
        font-size: $font-medium;
        text-decoration: none;
        &.is-active {
          color: $color-green;
        }
      }
    }
  }
}