#block-kitblock {
  margin: 7em 0 8em;
  position: relative;
  z-index: 2;
  h2 {
    color: $color-blue-dark;
    font-size: $font-xxlarge;
    font-weight: 700;
    text-align: center;
  }
  .field-name-field_link {
    align-items: center;
    background-color: rgba($color-green, .9);
    display: flex;
    justify-content: center;
    height: $kit-height-small;
    padding: 2em;
    @include breakpoint($medium) {
      height: $kit-height;
    }
    a {
      background-image: url('../images/toolkit.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      height: 12em;
      text-indent: -9999px;
      transition: background-image 220ms ease-out;
      width: 12em;
      @include breakpoint($medium) {
        height: 15em;
        width: 15em;
      }
      &:hover {
        background-image: url('../images/toolkit-blue.svg');
      }
    }
  }
}