#block-kit {
  margin: 5em 0 5em;
  position: relative;
  z-index: 2;
  @include breakpoint($medium) {
    margin: 7em 0 8em;
  }
  h2 {
    color: $color-blue-dark;
    font-size: $font-xxlarge;
    font-weight: 700;
    text-align: center;
  }
  .field-name-field_link {
    align-items: center;
    background-color: rgba($color-green, .9);
    display: flex;
    justify-content: center;
    padding: 2em;
    height: $kit-height-mini;
    @include breakpoint($small) {
      height: $kit-height-small;
    }
    @include breakpoint($medium) {
      height: $kit-height;
    }
    a {
      background-image: url('../images/toolkit.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      height: 8em;
      text-indent: -9999px;
      transition: background-image 220ms ease-out;
      width: 8em;
      // Safari 10 ONLY rules
      @media not all and (min-resolution:.001dpcm)
      {
        @supports (-webkit-appearance:none) and (not (stroke-color:transparent)) {
          transition: none;
        }
      }
      // Safari 9 ONLY rules
      @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
        transition: none;
      }
      @include breakpoint($small) {
        height: 12em;
        width: 12em;
      }
      @include breakpoint($medium) {
        height: 15em;
        width: 15em;
      }
      &:hover {
        background-image: url('../images/toolkit-blue.svg');
      }
    }
  }
}