#block-six8theme-local-tasks {
  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-bottom: 1em;
    li {
      margin: .5em 1em;
    }
  }
}