#block-six8theme-views-block-linee-guida-list-block-1 {
  background-color: rgba($color-blue-lightest, .9);
  padding-top: 1.5em;
  position: relative;
  h2 {
    color: $color-white;
    font-size: $font-xxlarge;
    font-weight: 700;
    margin: 0;
    text-align: center;
  }
  .view-linee-guida-list {
    padding: 0 1em 1em 1em;
    .view-content {
      @include maxWidth;
      @include breakpoint($medium) {
        display: flex;
        justify-content: space-between;
        padding: 0 1.5em 1.5em 1.5em;
      }
      .views-row {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        max-width: 20em;
        padding: 1em;
        width: 20em;
        &:nth-child(1) {
          order: 2;
        }
        &:nth-child(2) {
          order: 3;
        }
        &:nth-child(3) {
          order: 1;
        }
        .views-field-field-icona {
          cursor: pointer;
          max-width: 150px;
          @include breakpoint($medium) {
            max-width: 100%;
          }
        }
        .views-field-title {
          .field-content {
            color: $color-white;
            font-size: $font-large;
            font-weight: 700;
          }
        }
        .views-field-body {
          @include breakpoint($medium) {
            margin-bottom: 1.5em;
            max-width: 100%;
          }
          .field-content {
            p {
              color: $color-white;
              font-size: $font-medium;
              text-align: center;
            }
          }
        }
        .views-field-field-call-to-action-pagina {
          margin-top: auto;
          .field-content {
            a {
              background-color: $color-white;
              color: $color-blue-light;
              display: block;
              font-size: $font-discrete;
              font-weight: 700;
              padding: .75em 1em;
              text-decoration: none;
              transition: color 220ms ease-out;
              @include breakpoint($medium) {
                padding: 1em 1.5em;
              }
              &:hover {
                color: $color-blue-dark;
              }
            }
          }
        }
        .views-field-field-call-to-action-home {
          display: none;
        }
      }
    }
  }
}

#block-six8theme-views-block-linee-guida-list-block-2 {
  background-color: rgba($color-green, .9);
  padding: 2em;
  position: relative;
  z-index: 2;
  .view-content {
    @include maxWidth;
    @include breakpoint($normal - 1) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .views-row {
      padding: 1.5em;
      .field-name-field_link .field__item {
        position: relative;
      }
      /* MARKETING */
      &:nth-child(3) {
        @include breakpoint($normal - 1) {
          flex: 1 0 0;
          order: 1;
        }
        .field-name-field_link a {
          padding-left: 25px;
          &::before {
            @include plusicon;
            left: 0;
            margin-left: .35em;
          }
          @include breakpoint($normal - 1) {
            justify-content: flex-end;
            padding-left: 0;
            padding-right: 25px;
            &::after {
              @include plusicon;
              right: 0;
              margin-left: .35em;
            }
            &::before {
              display: none;
            }
          }
        }
        .field-name-field_link,
        .field-name-field_call_to_action_pagina {
          @include breakpoint($normal - 1) {
            justify-content: flex-end;
          }
        }
      }

      /* COMUNICAZIONE */
      &:nth-child(1) {
        @include breakpoint($normal - 1) {
          flex: 1 0 0;
          order: 3;
        }
        .field-name-field_link a {
          padding-left: 25px;
          &::before {
            @include plusicon;
            left: 0;
          }
        }
        .field-name-field_link,
        .field-name-field_call_to_action_pagina {
          @include breakpoint($normal - 1) {
            justify-content: flex-start;
          }
        }
      }

      /* STORYTELLING */
      &:nth-child(2) {
        @include breakpoint($normal - 1) {
          order: 4;
          width: 100%;
        }
        .node--type-linee-guida {
          @include breakpoint($normal - 1) {
            margin: 0 auto;
            width: 30%;
          }
        }
        .field-name-field_link a {
          padding-left: 25px;
          @include breakpoint($normal - 1) {
            justify-content: flex-start;
          }
          &::before {
            @include plusicon;
            left: 0;
          }
        }
        .field-name-field_call_to_action_pagina {
          @include breakpoint($normal - 1) {
            justify-content: flex-start;
          }
        }
      }
      &.bg-image {
        display: none;
        @include breakpoint($normal - 1) {
          background-image: url('../images/guidelines.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          display: block;
          flex: 1 0 0;
          order: 2;
          width: 33%;
        }
      }
    }
  }
}