#block-six8theme-page-title {
  h1 {
    color: $color-blue-dark;
    font-size: $font-xxlarge;
    font-weight: 700;
    margin-top: .15em;
    text-align: center;
  }
  // .scroll-down-basic-wrapper {
  //   cursor: pointer;
  //   margin: 2em auto .5em;
  //   height: 45px;
  //   width: 45px;
  //   @include breakpoint($medium) {
  //     margin: 3em auto 1.5em;
  //   }
  // }
}