#block-six8theme-page-title {
  h1 {
    color: $color-blue-dark;
    font-size: $font-xxlarge;
    font-weight: 700;
    margin-top: 1.25em;
    text-align: center;
  }
  .scroll-down-basic-wrapper {
    cursor: pointer;
    margin: 3em auto 1.5em;
    width: 45px;
  }
}