#block-six8theme-views-block-linee-guida-list-block-1 {
  padding-top: 5em;
  position: relative;
  @include breakpoint($medium) {
    padding-top: 12em;
  }
  .scroll-down-wrapper {
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 3em;
    transform: translateX(-50%);
    width: 45px;
    @include breakpoint($medium) {
      top: 8em;
    }
  }
  h2 {
    color: $color-blue-dark;
    font-size: $font-xxlarge;
    font-weight: 700;
    text-align: center;
  }
  .view-linee-guida-list {
    background-color: rgba($color-blue-lightest, .9);
    padding: 1em;
    .view-content {
      @include maxWidth;
      padding: 1.5em;
      @include breakpoint($medium) {
        display: flex;
        justify-content: space-between;
      }
      .views-row {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        max-width: 20em;
        padding: 1em;
        .views-field-field-icona {
          .field-content {
            img {

            }
          }
        }
        .views-field-title {
          .field-content {
            color: $color-white;
            font-size: $font-large;
            font-weight: 700;
          }
        }
        .views-field-body {
          margin-bottom: 1.5em;
          .field-content {
            p {
              color: $color-white;
              font-size: $font-medium;
              text-align: center;
            }
          }
        }
        .views-field-field-call-to-action-home {
          margin-top: auto;
          .field-content {
            a {
              background-color: $color-white;
              color: $color-blue-light;
              display: block;
              font-size: $font-discrete;
              font-weight: 700;
              padding: 1em 1.5em;
              text-decoration: none;
              transition: color 220ms ease-out;
              &:hover {
                color: $color-blue-dark;
              }
            }
          }
        }
      }
    }
  }
}

#block-six8theme-views-block-linee-guida-list-block-2 {
  background-color: rgba($color-green, .9);
  padding: 2em;
  position: relative;
  z-index: 2;
  .view-content {
    @include maxWidth;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    @include breakpoint($normal - 1) {
      flex-direction: row;
    }
    .views-row {
      display: flex;
      flex-direction: column;
      padding: 1.5em;

      /* MARKETING */
      &:nth-child(3) {
        @include breakpoint($normal - 1) {
          flex: 1 0 0;
          order: 1;
        }
        .field-name-field_link a {
          &::before {
            @include plusicon;
          }
          @include breakpoint($normal - 1) {
            justify-content: flex-end;
            &::after {
              @include plusicon;
              margin-left: .35em;
            }
            &::before {
              display: none;
            }
          }
        }
        .field-name-field_link,
        .field-name-field_call_to_action_pagina {
          @include breakpoint($normal - 1) {
            justify-content: flex-end;
          }
        }
      }

      /* COMUNICAZIONE */
      &:nth-child(1) {
        @include breakpoint($normal - 1) {
          flex: 1 0 0;
          order: 3;
        }
        .field-name-field_link a {
          &::before {
            @include plusicon;
          }
        }
        .field-name-field_link,
        .field-name-field_call_to_action_pagina {
          @include breakpoint($normal - 1) {
            justify-content: flex-start;
          }
        }
      }

      /* STORYTELLING */
      &:nth-child(2) {
        @include breakpoint($normal - 1) {
          order: 4;
          width: 100%;
        }
        .field-name-field_link a {
          justify-content: center;
          &::before {
            @include plusicon;
          }
        }
        .field-name-field_call_to_action_pagina {
          @include breakpoint($normal - 1) {
            justify-content: center;
          }
        }
      }
      &.bg-image {
        display: none;
        @include breakpoint($normal - 1) {
          background-image: url('../images/guidelines.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          display: block;
          flex: 1 0 0;
          order: 2;
          width: 33%;
        }
      }
    }
  }
}