@font-face {
  font-family: 'Ita';
  src: fonts('ita.eot');
  src: fonts('ita.eot') format('embedded-opentype'),
  fonts('ita.woff') format('woff'),
  fonts('ita.ttf') format('truetype');
  font-style: normal;
}