.view-linee-guida-list.view-display-block_2 {
  background-color: rgba($color-green, .9);
  padding: 2em;
  position: relative;
  z-index: 2;
  .view-content {
    @include maxWidth;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .views-row {
      display: flex;
      flex-direction: column;
      padding: 1.5em;
      &:nth-child(1) {
        flex: 1 0 0;
        order: 1;
        li a {
          justify-content: flex-end;
          &::after {
            @include plusicon;
            margin-left: .35em;
          }
        }
        .views-field-field-link,
        .views-field-field-call-to-action-pagina {
          justify-content: flex-end;
        }
      }
      &:nth-child(2) {
        flex: 1 0 0;
        order: 3;
        li a {
          &::before {
            @include plusicon;
          }
        }
        .views-field-field-link,
        .views-field-field-call-to-action-pagina {
          justify-content: flex-start;
        }
      }
      &:nth-child(3) {
        order: 4;
        width: 100%;
        li a {
          &::before {
            @include plusicon;
          }
        }
        .views-field-field-link,
        .views-field-field-call-to-action-pagina {
          justify-content: center;
        }
      }
      &.bg-image {
        background-image: url('../images/guidelines.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        flex: 1 0 0;
        order: 2;
        width: 33%;
      }
      .views-field-title {
        /* TO BE SHOWN IN MOBILE DEVICES */
        display: none;
      }
      .views-field-field-icona {
        /* TO BE SHOWN IN MOBILE DEVICES */
        display: none;
      }
      .views-field-field-link {
        display: flex;
        margin-bottom: 3.5em;
        ul {
          list-style: none;
          li {
            margin: .75em 0;
            a {
              align-items: center;
              display: flex;
              color: $color-white;
              font-size: $font-medium;
              font-weight: 700;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
              // &::before {
              //   background-image: url('../images/icons/icon-plus.svg');
              //   background-position: center;
              //   background-repeat: no-repeat;
              //   background-size: contain;
              //   content: '';
              //   display: block;
              //   height: .85em;
              //   margin-right: .25em;
              //   width: .85em;
              // }
            }
          }
        }
      }
      .views-field-field-call-to-action-pagina {
        display: flex;
        margin-top: auto;
        .field-content {
          a {
            background-color: $color-blue-lightest;
            color: $color-white;
            display: inline-block;
            font-size: $font-medium;
            font-weight: 700;
            padding: .5em 1.75em;
            text-decoration: none;
            transition: background-color 220ms ease-out;
            &:hover {
              background-color: $color-blue;
            }
          }
        }
      }
    }
  }
}