.view-roadmap.view-display-page_1 {
  background-color: rgba($color-blue-lightest, .9);
  margin-bottom: 2em;
  position: relative;
  z-index: 2;
  .view-content {
    @include maxWidth($maxwidth-small);
    background-color: $color-white;
    padding: 2em 0;
    .views-row {
      border-bottom: 1px solid $color-blue-dark;
      margin: 0 4em;
      padding: 1em;
      text-align: center;
      .views-field-title {
        .field-content {
          color: $color-blue-dark;
          font-size: $font-discrete;
          font-weight: 700;
          line-height: 2em;
          padding-left: 2.35em;
          position: relative;
          text-decoration: none;
          &::before {
            background-image: url('../images/icons/icon-list.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
            display: block;
            height: 2em;
            left: 0;
            position: absolute;
            top: -.2em;
            width: 2em;
          }
        }
      }
      .views-field-body {
        margin: 0 auto;
        max-width: 20em;
        p {
          font-size: $font-normal;
          margin-top: .35em;
        }
      }
    }
  }
}