.opacity-layer {
  background-color: rgba(0, 0, 0, .5);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 220ms ease-out;
  z-index: 6;
  &.show {
    opacity: 1;
    pointer-events: all;
  }
}